*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    font-size: 16px;
    height: 100%;
    /* по умолчанию */
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* ------------------------------------------------------ */

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.container {
    max-width: 846px;
    margin: 10px auto;
}

.element__white {
    padding: 25px;
    max-width: 350px;
    max-height: 350px;
    background-color: whitesmoke;
    border-radius: 15px;
    text-align: center;

}

h1 {
    font-size: 36px;
    font-weight: 900;
}

p {
    margin: 10px 0;
    text-align: justify;
}

.btn {
    background-color: orange;
    padding: 20px;
    margin: 10px 0;
    display: inline-block;
    border-radius: 15px;
    color: white;
}